@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');




/* 기본 프레임 */
body {
    display: flex;
    justify-content: center;
    padding-bottom: env(safe-area-inset-bottom);
}

/* 로그인1 */
@media (min-width: 375px) {
    .login1 {
        width: 375px;
        height: 812px;
        flex-grow: 0;
        padding: 40px 0 132px;
        background-color: #000;
    }
}

.top-frame {
    width: 375px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin: 0 0 36px;
    padding: 0;
    object-fit: contain;
}

.back-arrow {
    width: 10px;
    height: 18px;
}

.close-arrow {
    /*width: 24px;*/
    height: 24px;
}

.login1-headline-text {
    width: 175px;
    height: 28px;
    flex-grow: 0;
    font-family: 'Noto Sans KR', serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: -0.32px;
    text-align: center;
    color: #eef1f1;
}

img.info-text {
    width: 179px;
    height: 64px;
    margin: 36px 176px 15px 20px;
    object-fit: contain;
    font-family: 'Noto Sans KR', serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: -0.44px;
    text-align: left;
    color: #e6e6e6; !important;
}

img.info-text2 {
    width: 141px;
    height: 22px;
    margin: 15px 216px 59px 18px;
    object-fit: contain;
    font-family: 'Noto Sans KR', serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: -0.28px;
    text-align: center;
    color: #fff; !important;
}

input.login1-form {
    width: 334px;
    height: 28px;
    flex-grow: 0;
    font-family: 'Noto Sans KR', serif;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: -0.36px;
    text-align: left;
    background-color: black; !important;
    color: #4a4a4a; !important;
    border: 0;
}
input.login1-form::placeholder {
    color: #4a4a4a;
}

div.login1-form-field {
    width: 335px;
    height: 38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin: 59px 22px 83px 18px;
    padding: 0;
    border-bottom: solid 1px #4a4a4a; !important;
}

.login1-play {
    width: 335px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 79px 20px 20px;
    padding: 0;
    object-fit: contain;
    border-radius: 3px;
    background-color: #4a4a4a;
}

.login1-menu {
    width: 375px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 30px 0px 99px 0px;
    padding: 0;
    object-fit: contain;
}

.test1 {
    width: 375px;
    height: 20px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0px;
    object-fit: contain;
}

.test2 {
    height: 20px;
    flex-grow: 1;
    font-family: 'Noto Sans KR', serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.24px;
    text-align: center;
    color: #afafaf;
}

.test3 {
    height: 20px;
    flex-grow: 1;
    font-family: 'Noto Sans KR', serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.24px;
    text-align: center;
    color: #afafaf;
}

.test4 {
    height: 20px;
    flex-grow: 1;
    font-family: 'Noto Sans KR', serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.24px;
    text-align: center;
    color: #afafaf;
}

.testline {
    width: 1px;
    height: 10px;
    flex-grow: 0;
    background-color: #4a4a4a;
}

.login1-email-join-text {
    height: 20px;
    flex-grow: 0;
    font-family: 'Noto Sans KR', serif;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.24px;
    text-align: center;
    color: #afafaf;
    white-space: nowrap;
}

.login1-pw-find-text {
    height: 20px;
    flex-grow: 0;
    font-family: 'Noto Sans KR', serif;
    font-size: 11.5px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.24px;
    text-align: center;
    color: #afafaf;
    white-space: nowrap;
}


.login1-simple-login {
    width: 335px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 100px 20px 20px;
    padding: 0;
}

.login1-tiny-line {
    width: 1px;
    height: 10px;
    flex-grow: 1;
    background-color: #4a4a4a;
}

.login1-simple-login-text-line {
    height: 1px;
    flex-grow: 1;
    background-color: #4a4a4a;
}

.login1-simple-login-text {
    width: 70px;
    height: 20px;
    flex-grow: 0;
    font-family: 'Noto Sans KR', serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.24px;
    text-align: center;
    color: #606060;
}

.logo-btn-area {
    width: 375px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    padding: 0;
}

.logo-btn-group {
    width: 235px;
    height: 50px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.simple-logo1 {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    padding: 13px;
}

.simple-logo2 {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    padding: 12px 12.5px 13px;
}

.simple-logo3 {
    width: 50px;
    height: 50px;
    flex-grow: 0;
    padding: 12px;
}