<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

    <title> Chilling Feeling - Category </title>

    <link rel="shortcut icon" href="/images/favicon_16px.png">
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>

    <style>
    </style>
</head>

<body>
<div class="search-result-container">
    <!-- Header -->
    <section class="wrap-search-top-bar-result">
        <div class="search-top-bar-result">
            <div class="ic_back_24px">
                <a href="javascript:history.back()">
                    <img src="/images/ic_back_black_24px.png">
                </a>
            </div>
            <div class="search-form-result">
                <input class="search-form-input-result" placeholder="어떤 주류를 찾으시나요?" id="searchInput">
                <div class="wrap-ic-search-form-result">
                    <button class="ic_form_close_16px" id="searchInputClear">
                        <img src="/images/ic_form_close_16px.png">
                    </button>
                    <button class="ic_search_24px" id="searchButton">
                        <img src="/images/ic_search_black_24px.png">
                    </button>
                </div>
            </div>
            <button class="ic_shopping_bag_24px" onclick="location.href='/cart'">
                <img src="/images/ic_shopping_bag_black_24px.png">
            </button>
        </div>
    </section>

    <!-- Content -->
    <section class="category-container" id="contentFrame">
        <div class="category-tab-bar">
            <button class="wrap-tab-bar-label-ac">
                <div class="tab-bar-label-ac">전체</div>
            </button>
            <button class="wrap-tab-bar-label">
                <div class="tab-bar-label">와인</div>
            </button>
            <button class="wrap-tab-bar-label">
                <div class="tab-bar-label">위스키</div>
            </button>
            <button class="wrap-tab-bar-label">
                <div class="tab-bar-label">전통주</div>
            </button>
            <button class="wrap-tab-bar-label">
                <div class="tab-bar-label">칵테일</div>
            </button>
            <button class="wrap-tab-bar-label">
                <div class="tab-bar-label">논알콜</div>
            </button>
        </div>

        <div class="wrap-btn-tag-filter">
            <div class="wrap-btn-tag">
                <div class="btn-tag">
                    <span class="btn-tag-label">여름휴가</span>
                </div>
                <div class="btn-tag">
                    <span class="btn-tag-label">한정수량</span>
                </div>
                <div class="btn-tag">
                    <span class="btn-tag-label">재고할인</span>
                </div>
                <div class="btn-tag">
                    <span class="btn-tag-label">전용잔</span>
                </div>
            </div>

            <div class="wrap-btn-filter">
                <div class="btn-filter">
                    <img src="/images/ic_filter_14px.png" class="ic_filter_14px">
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="bottom" id="footer"></section>

</div>
</body>
<script th:inline="javascript">

    const categoryTabBar = document.querySelector(".category-tab-bar");
    const tabLabels = categoryTabBar.querySelectorAll(".wrap-tab-bar-label, .wrap-tab-bar-label-ac");

    let searchInput = document.getElementById('searchInput');
    let searchButton = document.getElementById('searchButton');
    let searchClear = document.getElementById('searchInputClear');
    let option1;
    let option2;

    let goodsViewList = /*[[${goodsViewList}]]*/ [];    // 전체 상품 리스트
    let page = 1;
    let goodsCategory = "전체";
    let pageLoading = false;
    let lastCallTime = 0;       // 마지막 페이징 호출 시간
    let delayDuration = 2000;   // 페이징 딜레이 시간

    window.onload = async function () {
        searchClear.style.display = "none";
        createFooter('/category');
        displayItemListForCategory(document.getElementById('contentFrame'), goodsViewList);
        await displayWishListGoods(document.getElementById('contentFrame'), goodsViewList);

        option1 = document.getElementById('option1');
        option2 = document.getElementById('option2');

        if (option1 !== null) {
            option1.addEventListener('click', function () {
                changeOption(option1);
            });
        }

        if (option2 !== null) {
            option2.addEventListener('click', function () {
                changeOption(option2);
            });
        }

        addInfiniteScroll();
    }

    // 카테고리 목록 탭 버튼 클릭 시
    tabLabels.forEach(function (label) {
        label.addEventListener("click", function () {
            if (label.classList.contains("wrap-tab-bar-label-ac")) {
                return;
            }

            // 선택한 탭 활성화
            label.children[0].classList.replace("tab-bar-label", "tab-bar-label-ac");
            label.classList.replace("wrap-tab-bar-label", "wrap-tab-bar-label-ac");

            // 다른 탭 비활성화
            tabLabels.forEach(function (otherLabel) {
                if (otherLabel !== label) {
                    otherLabel.children[0].classList.replace("tab-bar-label-ac", "tab-bar-label");
                    otherLabel.classList.replace("wrap-tab-bar-label-ac", "wrap-tab-bar-label");
                }
            });

            // 기존 상품 리스트 폼 삭제
            const yesDataFrame = document.getElementById('yesDataFrame');
            const noDataFrame = document.getElementById('noDataFrame');
            const surplusEmptySpace = document.getElementById('surplusEmptySpace');
            if (yesDataFrame !== null) {
                yesDataFrame.remove();
            }
            if (noDataFrame !== null) {
                noDataFrame.remove();
            }
            if (surplusEmptySpace !== null) {
                surplusEmptySpace.remove();
            }

            // 새로운 상품 리스트 폼 추가
            goodsCategory = label.querySelector(".tab-bar-label-ac").innerText;
            displayItemListForCategory(document.getElementById('contentFrame'), goodsViewList, goodsCategory);
            displayWishListGoods(document.getElementById('contentFrame'), getProductsByType(goodsViewList, goodsCategory));
        });
    });

    searchInput.addEventListener('keyup', function(e) {
        if (e.key === 'Enter') {
            getSearchResult(searchInput.value.trim());
        }
    });

    searchButton.addEventListener('click', function() {
        getSearchResult(searchInput.value.trim());
    });

    function changeOption(choiceOption) {
        let currentOption = document.getElementById('currentOption');
        let currentOptionValue = currentOption.innerText;
        currentOption.innerText = choiceOption.innerText;
        choiceOption.innerText = currentOptionValue;
    }

</script>
</html>