<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

    <title> Chilling Feeling - Goods </title>

    <link rel="shortcut icon" href="/images/favicon_16px.png">
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    <style>
        /* Modal */

        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .modal:before {
            display: inline-block;
            vertical-align: middle;
            content: " ";
            height: 100%;
        }

        .modal-dialog {
            display: inline-block;
            text-align: left;
            vertical-align: middle;
        }

        .modal-content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            border-radius: 10px;
            background-color: #262626;
        }

    </style>
</head>
<body>
<div class="product-details-container">
    <!-- Header -->
    <section class="top-bar-details-frame">
        <button class="wrap-back-home" onclick="history.back()">
            <img src="/images/ic_back_black_24px.png" class="ic_back_24px">
        </button>

        <div class="btn-menu">
            <button class="wrap-back-home" onclick="location.href='/'">
                <img src="/images/ic_home_black_24px.png">
            </button>
            <button class="wrap-share-cart"  onclick="location.href='/cart'">
                <img src="/images/ic_shopping_bag_black_24px.png" class="ic_shopping_bag_24px">
            </button>
        </div>
    </section>

    <!-- Content -->
    <section class="product-details-frame">
        <div class="product-details-product-card">
            <div class="product-details-photo-container-wrap-img">
                <img src="/images/ic_x_face.png" id="pImageUrl">
            </div>

            <div class="product-details-product-info">
                <div class="product-details-product-name">
                    <div class="product-details-product-name-type-category">
                        <div class="product-details-product-name-type" id="pType1">와인</div>

                        <img src="/images/ic_chevron_right_10px.png" class="ic_chevron_right_10px">

                        <div class="product-details-product-name-category" id="pType2">화이트와인</div>
                    </div>

                    <div class="wrap-product-name-english">
                        <div class="product-name" id="pName">레이크 찰리스 네스트 소비뇽 블랑</div>
                        <div class="product-name-english" id="pEngName">Lake Chalice Nest Sauvignon Blanc</div>
                    </div>

                </div>

                <div class="product-details-caption">
                    <div class="wrap-star-review">
                        <div class="wrap-star-group-score">
                            <div class="star-group" id="pScoreImages">
                                <!--<img src="/images/ic_star_10px.png" class="ic_star_10px">
                                <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                <img src="/images/ic_half_star_10px.png" class="ic_star_10px">
                                <img src="/images/ic_star_off_10px.png" class="ic_star_10px">-->
                            </div>

                            <div class="product-details-star-score" id="pScore">3.5</div>
                        </div>

                        <button class="product-details-btn-review">
                            <div class="product-details-btn-review-label">
                                <span id="pReviewCount">-</span>개 리뷰 보기
                            </div>
                        </button>
                    </div>

                    <div class="wrap-chip-wh">
                        <div class="product-chip">
                            <div class="chip-label-wh" id="pLabel"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-details-tab-bar">
            <div class="wrap-tab-bar-label-ac">
                <div class="tab-bar-label-ac">상품정보</div>
            </div>
            <div class="wrap-tab-bar-label">
                <div class="tab-bar-label">리뷰</div>
            </div>
            <div class="wrap-tab-bar-label">
                <div class="tab-bar-label">문의</div>
            </div>
            <div class="wrap-tab-bar-label">
                <div class="tab-bar-label">교환/반품</div>
            </div>
        </div>

        <button class="product-details-banner" onclick="location.href='/recommendation/daily'">
            <img src="/images/product_details_banner.png">
        </button>

        <div class="wrap-product-info-list">
            <div class="wrap-product-details-product-info">

                <div class="product-details-product-basic-info">
                    <div class="product-details-title">기본 정보</div>
                    <div class="product-details-product-info">
                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">스타일</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div class="product-details-style" id="pType">화이트 와인</div>
                        </div>

                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">도수</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div class="product-details-style" id="pDegree">13%</div>
                        </div>

                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">국가/지역</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div class="product-details-style" id="pCountry">뉴질랜드</div>
                        </div>

                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">제조사</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div class="product-details-style" id="pCompany">콰리사</div>
                        </div>

                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">공급사</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div class="product-details-style" id="pSupplier">퍼미넌트</div>
                        </div>
                    </div>
                </div>

                <div class="product-details-product-point">
                    <div class="product-details-title">상품 특징</div>
                    <div class="product-details-product-info">
                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">색상</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div>
                                <img src="" id="pColorImageUrl" class="ic_color_chip">
                            </div>
                            <div class="product-details-style" id="pColor">Light Olive</div>
                        </div>

                        <div class="wrap-product-info">
                            <div class="wrap-subtitle-divider">
                                <div class="product-details-subtitle">향</div>
                                <img src="/images/ic_divider.png" class="ic_divider">
                            </div>
                            <div class="product-details-style" id="pAroma">Red fruit, Herb</div>
                        </div>
                    </div>
                </div>

                <div class="product-details-product-style-info" id="paletteContainer">
                    <div class="product-details-title">팔레트</div>
                    <div class="wine-style-list" id="pPaletteList">
                         <!--<div class="wrap-wine-style">
                            <div class="wine-style-label">바디</div>
                            <div class="wrap-wine-style-graphy-label">
                                <div class="wine-style-graphy" id="pBody">
                                    <!<img src="/images/wine_style_graphy_level1.png">
                                </div>

                                <div class="wrap-wine-style-details-label">
                                    <div class="wine-style-details-label">가벼움</div>
                                    <div class="wine-style-details-label">묵직함</div>
                                </div>
                            </div>
                        </div>

                        <div class="wrap-wine-style">
                            <div class="wine-style-label">탄닌</div>
                            <div class="wrap-wine-style-graphy-label">
                                <div class="wine-style-graphy" id="pTannin">
                                    &lt;!&ndash;<img src="/images/wine_style_graphy_level1.png">&ndash;&gt;
                                </div>

                                <div class="wrap-wine-style-details-label">
                                    <div class="wine-style-details-label">매끈함</div>
                                    <div class="wine-style-details-label-reverse">떫음</div>
                                </div>
                            </div>
                        </div>

                        <div class="wrap-wine-style">
                            <div class="wine-style-label">당도</div>
                            <div class="wrap-wine-style-graphy-label">
                                <div class="wine-style-graphy" id="pSweetness">
                                    &lt;!&ndash;<img src="/images/wine_style_graphy_level1.png">&ndash;&gt;
                                </div>

                                <div class="wrap-wine-style-details-label">
                                    <div class="wine-style-details-label">드라이</div>
                                    <div class="wine-style-details-label">스위트</div>
                                </div>
                            </div>
                        </div>

                        <div class="wrap-wine-style">
                            <div class="wine-style-label">산도</div>
                            <div class="wrap-wine-style-graphy-label">
                                <div class="wine-style-graphy" id="pAcidity">
                                    &lt;!&ndash;<img src="/images/wine_style_graphy_level1.png">&ndash;&gt;
                                </div>

                                <div class="wrap-wine-style-details-label">
                                    <div class="wine-style-details-label">낮음</div>
                                    <div class="wine-style-details-label">시큼함</div>
                                </div>
                            </div>
                        </div>

                        <div class="wrap-wine-style">
                            <div class="wine-style-label">탄산</div>
                            <div class="wrap-wine-style-graphy-label">
                                <div class="wine-style-graphy" id="pSoda">
                                    &lt;!&ndash;<img src="/images/wine_style_graphy_level1.png">&ndash;&gt;
                                </div>

                                <div class="wrap-wine-style-details-label">
                                    <div class="wine-style-details-label">없음</div>
                                    <div class="wine-style-details-label-reverse">강함</div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="product-details-product-episode" id="episodeContainer">
                    <div class="product-details-title">술 이야기</div>
                    <div class="product-episode" id="pDescription">
                        <!-- 붉은 벽돌 색상을 지니며 레드 체리 향과 붉은 베리 향이 어우러져 있다.
                        초콜릿과 후추 향이 뒤이어 나타나고,
                        부드러움과 균형미가 잘 드러나 있으며 목넘김이 부드러워 부담 없이 즐길 수 있는 와인이다. -->
                    </div>
                </div>

                <div class="wrap-counting-range">
                </div>

<!--                <div class="product-details-similar-product-list">-->
<!--                    <div class="product-details-title">비슷한 취향의 추천 상품</div>-->
<!--                    <div class="home-taste-prod-swiper-wrapper">-->
<!--                        &lt;!&ndash; 카테고리 내 추천 상품 리스트 생성 &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="product-details-category-best-list">-->
<!--                    <div class="product-details-title">카테고리 인기 상품</div>-->
<!--                    <div class="home-taste-prod-swiper-wrapper">-->
<!--                        &lt;!&ndash; 카테고리 내 인기 상품 리스트 생성 &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>

    <!-- Footer -->
    <section class="bottom">
        <div class="product-details-bottom">
            <div class="wrap-product-details-bottom-ic">
                <button class="wrap-heart-counting">
                    <img src="/images/ic_share_24px.png" class="ic_share_24px">
                </button>

                <button class="wrap-heart-counting" id="heartBtn">
                    <img src="/images/ic_heart_black_24px.png" class="ic_heart_24px" id="heartImage">
<!--                    <div class="heart-counting-label" id="heartCount">0</div>-->
                </button>
            </div>

            <button class="product-details-btn-order" id="orderBtn">
                <div class="product-details-btn-order-label">픽업 주문하기</div>
            </button>
        </div>
    </section>
</div>

<!-- modal -->
<div class="modal fade" id="orderCartModal" role="dialog">
    <div class="modal-dialog">
        <!-- modal content-->
        <div class="modal-content">
            <div class="modal-order">
                <div class="drag-handle-stroke"></div>

                <div class="modal-order-cart-container">
                    <div class="wrap-label-btn-counting">
                        <div class="order-counting-label">수량</div>
                        <div class="wrap-btn-counting">
                            <div class="btn-counting">
                                <img src="/images/ic_minus.png" class="ic_minus">
                                <div class="btn-counting-label" id="goodsCount">1</div>
                                <img src="/images/ic_plus.png" class="ic_plus">
                            </div>
                        </div>
                    </div>

                    <div class="wrap-btn01">
                        <button class="btn01" onclick="addCart(goodsViewDetails.name, goodsCount.textContent);">
                            <div class="btn01-label">장바구니 담기</div>
                        </button>
                        <button class="btn01-active" onclick="ordersGoodsList(goodsViewDetails.name, goodsCount.textContent);">
                            <div class="btn01-label-active">바로 주문하기</div>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    let goodsViewDetails = /*[[${goodsViewDetails}]]*/ [];    // 상품 상세 정보
    let goodsCount = document.getElementById('goodsCount');

    window.onload = function () {
        initForm();
        displayWishGoodsForGoodsPage(document.getElementById('heartImage'), goodsViewDetails.name);
        applyWishListBtn(goodsViewDetails.name);
        applyPlusBtnElements();
        applyMinusBtnElements();
    }

    function createFormPalette(paletteName, paletteValue) {
        if (createPaletteImage(paletteValue) === null) {
            return null;
        }

        const wrapWineStyle = document.createElement("div");
        wrapWineStyle.className = "wrap-wine-style";

        const wineStyleLabel = document.createElement("div");
        wineStyleLabel.className = "wine-style-label";
        wineStyleLabel.textContent = paletteName;
        wrapWineStyle.appendChild(wineStyleLabel);

        const wrapWineStyleGraphyLabel = document.createElement("div");
        wrapWineStyleGraphyLabel.className = "wrap-wine-style-graphy-label";
        wrapWineStyle.appendChild(wrapWineStyleGraphyLabel);

        const wineStyleGraphy = document.createElement("div");
        wineStyleGraphy.className = "wine-style-graphy";
        wineStyleGraphy.id = "p" + getPaletteEngName(paletteName);

        wrapWineStyleGraphyLabel.appendChild(wineStyleGraphy);

        const image = document.createElement("img");
        image.src = createPaletteImage(paletteValue);
        wineStyleGraphy.appendChild(image);

        const wrapWineStyleDetailsLabel = document.createElement("div");
        wrapWineStyleDetailsLabel.className = "wrap-wine-style-details-label";
        wrapWineStyleGraphyLabel.appendChild(wrapWineStyleDetailsLabel);

        const wineStyleDetailsLabel1 = document.createElement("div");
        wineStyleDetailsLabel1.className = "wine-style-details-label";
        wineStyleDetailsLabel1.textContent = createPaletteLabelFront(paletteName);
        wrapWineStyleDetailsLabel.appendChild(wineStyleDetailsLabel1);

        const wineStyleDetailsLabel2 = document.createElement("div");
        wineStyleDetailsLabel2.className = "wine-style-details-label";
        wineStyleDetailsLabel2.textContent = createPaletteLabelBack(paletteName);
        wrapWineStyleDetailsLabel.appendChild(wineStyleDetailsLabel2);

        return wrapWineStyle;
    }

    function initForm() {
        let pImageUrl = document.getElementById("pImageUrl");
        let pName = document.getElementById("pName");
        let pEngName = document.getElementById("pEngName");
        let pType = document.getElementById("pType");
        let pType1 = document.getElementById("pType1");     // primary category
        let pType2 = document.getElementById("pType2");     // sub category
        let pLabel = document.getElementById("pLabel");
        let pScoreImages = document.getElementById("pScoreImages");
        let pScore = document.getElementById("pScore");
        let pReviewCount = document.getElementById("pReviewCount");

        let pCountry = document.getElementById("pCountry");
        let pCompany = document.getElementById("pCompany");
        let pSupplier = document.getElementById("pSupplier");
        let pDegree = document.getElementById("pDegree");

        let pColor = document.getElementById("pColor");
        let pColorImageUrl = document.getElementById("pColorImageUrl");

        let pDescription = document.getElementById("pDescription");

        let pAroma = document.getElementById("pAroma");
        let pPaletteList = document.getElementById("pPaletteList");

        pImageUrl.src = goodsViewDetails.imageUrl;
        pName.innerText = fill(goodsViewDetails.name);
        pEngName.innerText = fill(goodsViewDetails.engName);
        pType.innerText = fill(goodsViewDetails.type);
        pType1.innerText = fill(goodsViewDetails.type);
        pType2.innerText = fill(goodsViewDetails.subType);
        pLabel.innerText = fill(goodsViewDetails.label);

        pScoreImages.innerHTML = createScoreImage(goodsViewDetails.score);
        pScore.innerText = fill(goodsViewDetails.score);
        pReviewCount.innerText = fill(goodsViewDetails.reviewCount);

        pCountry.innerText = fill(goodsViewDetails.country);
        pCompany.innerText = fill(goodsViewDetails.company);
        pSupplier.innerText = fill(goodsViewDetails.supplier);

        pDegree.innerText = fill(goodsViewDetails.degree);

        pColor.innerText = fill(goodsViewDetails.color);
        if (goodsViewDetails.colorImageUrl != null) {
            pColorImageUrl.src = goodsViewDetails.colorImageUrl;
        } else {
            pColorImageUrl.style.display = 'none';
        }

        if (pColor.innerText === '-' && pColorImageUrl.style.display === 'none') {
            document.getElementsByClassName('product-details-product-point')[0].style.display = 'none';
        }

        if (isNullOrWhiteSpace(goodsViewDetails.descriptionImageUrl)) {
            pDescription.innerText = goodsViewDetails.description;
        } else {
            pDescription.innerHTML = `<span><img src="${goodsViewDetails.descriptionImageUrl}"></span>` + '\n' + goodsViewDetails.description;
        }

        if (isNullOrWhiteSpace(pDescription.innerText)) {
            document.getElementById("episodeContainer").style.display = 'none';
        }

        pAroma.innerText = fill(goodsViewDetails.opt1Value);

        let pElement;
        if ((pElement = createFormPalette("바디", goodsViewDetails.opt3Value)) != null) {
            pPaletteList.appendChild(pElement);
        }
        if ((pElement = createFormPalette("탄닌", goodsViewDetails.opt4Value)) != null) {
            pPaletteList.appendChild(pElement);
        }
        if ((pElement = createFormPalette("당도", goodsViewDetails.opt5Value)) != null) {
            pPaletteList.appendChild(pElement);
        }
        if ((pElement = createFormPalette("산도", goodsViewDetails.opt6Value)) != null) {
            pPaletteList.appendChild(pElement);
        }
        if ((pElement = createFormPalette("탄산", goodsViewDetails.opt7Value)) != null) {
            pPaletteList.appendChild(pElement);
        }

        if (pPaletteList.childElementCount === 0) {
            document.getElementById("paletteContainer").style.display = 'none';
        }
    }

    document.getElementById('orderBtn').addEventListener('click', function (e) {
        e.preventDefault();
        $("#orderCartModal").modal();
    });

</script>
</html>