<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title> Chilling Feeling - Join (1/3) </title>

    <!-- CSS -->
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="join1">
    <!-- Top frame -->
    <section class="join1-header">
        <div class="ic_back_24px">
            <a href="/cf_login">
                <img src="/images/ic_back_24px.png">
            </a>
        </div>
        <div class="join1-header-content-text">회원가입 (2/3)</div>
        <div class="ic_close_24px">
            <a href="/main">
                <img src="/images/ic_close_24px.png">
            </a>
        </div>
    </section>

    <!-- Content Frame -->
    <div class="join2-container">
        <div class="join2-container-content">
            <div class="join2-title">비밀번호를 입력해주세요.</div>
            <div class="join2-subtitle"><br>비밀번호는 8자~20자 조합으로<br>영문, 숫자, 특수기호를 포함해 주세요.</div>
        </div>

        <div class="join2-container-actions">
            <div class="join2-container-actions-form-field">
                <div class="join2-form-field-password">
                    <div class="join2-wrapper-input-icon" id="pwInputField">
                        <input class="join2-input-text pw-field" placeholder="비밀번호 입력" type="password" id="pwInput">
                        <div class="ic_visibility_off">
                            <img class="pw-eye" src="/images/ic_visibility_off.png">
                        </div>
                    </div>
                </div>

                <div class="join2-form-field-password" id="pwCheckField">
                    <div class="join2-wrapper-input-icon">
                        <input class="join2-input-text pw-field" placeholder="비밀번호 확인" type="password" id="pwCheck">
                        <div class="ic_visibility_off">
                            <img class="pw-eye" src="/images/ic_visibility_off.png">
                        </div>
                    </div>
                </div>
            </div>

            <button class="join2-btn-next">
                <div class="join2-btn-next-label" id="nextBtn">다음</div>
            </button>
        </div>
    </div>

</div>
<script>

    /* verify password for nextPage */
    document.querySelector('#nextBtn').addEventListener('click', function (e) {
        e.preventDefault();

        const pwInput = document.querySelector('#pwInput').value.trim();
        const pwCheck = document.querySelector('#pwCheck').value.trim();

        if (pwInput !== pwCheck) {
            console.log('Password does not match');
            // Display modal or show error message...
            return;
        }

        if (checkPassword(pwInput)) {
            sendPasswordByForm('cf_join3', pwInput);
        } else {
            console.log('Incorrect authentication code');
            // Display modal or show error message...
        }

        async function checkPassword(pw) {
            const data = await sendPassword(pw);
            if (data === "valid") {
                return true;
            }

            async function sendPassword(pw) {
                try {
                    const response = await fetch('/check_password', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: pw
                    });

                    if (response.ok) {
                        return await response.text();
                    }
                    throw response;
                } catch (error) {
                    throw error;
                }
            }

            return false;
        }
    });

    function sendPasswordByForm(path, pw) {
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = path;

        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'password';
        input.value = encodeURIComponent(pw);
        form.appendChild(input);

        document.body.appendChild(form);
        form.submit();
    }

</script>
</body>
</html>