<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">


    <title> Chilling Feeling - Join (1/3) </title>

    <link rel="shortcut icon" href="/images/favicon_16px.png">
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div class="join1">
    <!-- Top frame -->
    <section class="join1-header">
        <div class="ic_back_24px">
            <a href="javascript:history.back()">
                <img src="/images/ic_back_24px.png">
            </a>
        </div>
        <div class="join1-header-content-text">회원가입 (1/3)</div>
        <div class="ic_close_24px">
            <a href="/">
                <img src="/images/ic_close_24px.png">
            </a>
        </div>
    </section>

    <!-- Content Frame -->
    <section class="join1-container" id="myContainer">
        <div class="join1-container-content">
            <div class="join1-title">
                처음 오셨군요!<br>만나서 반가워요:)
            </div>
            <div class="join1-subtitle">
                이메일 주소를 입력해주세요.
            </div>
        </div>

        <!-- Origin form -->
        <form class="join1-form-container" id="beforeForm">
            <div class="join1-form-input-field">
                <input class="join1-input-text" placeholder="이메일 입력" type="email" id="beforeEmail">

                <div class="ic_check_14px" id="isCheckedBefore">
                    <img src="/images/ic_check_14px.png">
                </div>
            </div>

            <button class="join1-btn-code-number">
                <div class="join1-btn-label" id="sendCodeNumber">
                    인증번호 전송
                </div>
            </button>
        </form>

        <!-- After form checked -->
        <div class="join1-container-actions" id="afterForm" style="display: none">
            <div class="join1-wrapper-email-btn-code-number-form">
                <div class="join1-wrapper-email-btn-code-number">
                    <div class="join1-form-field-email">
                        <div class="join1-wrapper-text-check">
                            <input class="join1-after-input-text" placeholder="이메일 입력" type="email" id="afterEmail">

                            <div class="ic_check_14px" id="isCheckedAfter">
                                <img src="/images/ic_checked_14px.png">
                            </div>
                        </div>
                    </div>

                    <button class="join1-btn-resend">
                        <div class="join1-btn-resend-label" id="resendCodeNumber">인증번호 재전송</div>
                    </button>
                </div>

                <div class="join1-wrapper-subtext-form-field">
                    <div class="join1-subtext">인증번호 6자리를 입력해주세요.</div>
                    <div class="join1-form-field-code-number">
                        <div class="join1-wrapper-input-icon">
                            <input class="join1-default-input pw-field" placeholder="인증번호 입력" type="password" id="codeNumber">

                            <div class="ic_visibility_off">
                                <img class="pw-eye" src="/images/ic_visibility_off.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="join1-btn-next">
                <div class="join1-btn-next-label" id="nextBtn">다음</div>
            </button>
        </div>

    </section>

</div>
<script th:inline="javascript">
    // form transformation
    const myContainer = document.querySelector('#myContainer');
    const beforeForm = document.querySelector('#beforeForm');
    const afterForm = document.querySelector('#afterForm');

    const afterEmail = document.querySelector('#afterEmail');

    const pwShowHide = document.querySelectorAll(".pw-eye");

    const emailInputBefore = document.getElementById('beforeEmail');
    const emailInputAfter = document.getElementById('afterEmail');
    const isCheckedBefore = document.getElementById('isCheckedBefore');
    const isCheckedAfter = document.getElementById('isCheckedAfter');
    const validEmailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    // email pattern check
    emailInputBefore.addEventListener('input', function () {
        const emailString = emailInputBefore.value;
        if (validEmailPattern.test(emailString)) {
            isCheckedBefore.innerHTML = '<img src="/images/ic_checked_14px.png">';
        } else {
            isCheckedBefore.innerHTML = '<img src="/images/ic_check_14px.png">';
        }
    });

    emailInputAfter.addEventListener('input', function () {
        const emailString = emailInputAfter.value;
        if (validEmailPattern.test(emailString)) {
            isCheckedAfter.innerHTML = '<img src="/images/ic_checked_14px.png">';
        } else {
            isCheckedAfter.innerHTML = '<img src="/images/ic_check_14px.png">';
        }
    });

    // password eye on/off
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".pw-field");

            pwFields.forEach(password => {
                if (password.type === "password") {
                    password.type = "text";
                    eyeIcon.src = "/images/ic_visibility_on.png";
                    return;
                }

                password.type = "password";
                eyeIcon.src = "/images/ic_visibility_off.png";
            });
        });
    });

    document.querySelector('#sendCodeNumber').addEventListener("click", async function (e) {
        e.preventDefault();
        const emailInput = document.querySelector('#beforeEmail').value.trim();

        if (await checkEmailExists(emailInput) !== "invalid") {
            alert("이미 가입한 이메일입니다.");
            return;
        }

        myContainer.style.height = "525px";
        beforeForm.style.display = "none";
        afterForm.style.display = "flex";
        afterEmail.value = emailInput;
        await createAuthenticationCode(emailInput);
    });

    document.querySelector('#resendCodeNumber').addEventListener("click", async function (e) {
        e.preventDefault();
        const emailInput = document.querySelector('#afterEmail').value.trim();

        if (await checkEmailExists(emailInput) !== "invalid") {
            alert("이미 가입한 이메일입니다.");
            return;
        }

        await createAuthenticationCode(emailInput);
    });

    // verify auth-code for next page
    document.querySelector('#nextBtn').addEventListener("click", async function () {
        const emailInput = document.querySelector('#afterEmail').value.trim();
        const codeInput = document.querySelector('#codeNumber').value.trim();

        if (await checkEmailExists(emailInput) !== "invalid") {
            alert("이미 가입한 이메일입니다.");
            return;
        }

        if (await checkAuthenticationCode(codeInput)) {
            sendJoinForm("/join/password", emailInput);
        } else {
            alert("Incorrect authentication code");
        }
    });

    async function checkEmailExists(email) {
        try {
            const response = await fetch("/api/v1/email/check", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: email
            });

            if (response.ok) {
                return response.text();
            }

            throw response;
        } catch (error) {
            throw error;
        }
    }

    async function checkAuthenticationCode(code) {
        const data = await sendAuthenticationCode(code);
        if (data === "valid") {
            return true;
        }

        return false;

        async function sendAuthenticationCode(code) {
            try {
                const response = await fetch("/api/v1/authentication-code/email/check", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: code
                });

                if (response.ok) {
                    return await response.text();
                }
                throw response;
            } catch (error) {
                throw error;
            }
        }
    }

    // create auth-code
    async function createAuthenticationCode(email) {
        await getAuthenticationCode(email);

        async function getAuthenticationCode(email) {
            await createCode(email);

            async function createCode(email) {
                try {
                    const response = await fetch("/api/v1/authentication-code/email", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: email
                    });

                    if (response.ok) {
                        return await response.text();
                    }
                    throw response;
                } catch (error) {
                    throw error;
                }
            }
        }
    }

    /*<![CDATA[*/
    function sendJoinForm(path, email) {
        const form = document.createElement("form");
        form.method = "POST";
        form.action = path;

        let request = /*[[${request}]]*/ {};
        request.username = email;

        const usernameInput = document.createElement("input");
        usernameInput.type = "hidden";
        usernameInput.name = "username";
        usernameInput.value = request.username;
        form.appendChild(usernameInput);

        const pwInput = document.createElement("input");
        pwInput.type = "hidden";
        pwInput.name = "password";
        pwInput.value = request.password;
        form.appendChild(pwInput);

        const numberInput = document.createElement("input");
        numberInput.type = "hidden";
        numberInput.name = "phoneNumber";
        numberInput.value = request.phoneNumber;
        form.appendChild(numberInput);

        document.body.appendChild(form);
        form.submit();
    }
    /*]]>*/

</script>
</body>
</html>