<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title> Chilling Feeling - Login 1 </title>

    <!-- CSS -->
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="login1">

    <img class="top-frame" src="/images/top-frame.png" >

    <img class="info-text" src="/images/info-text.png">

    <img class="info-text2" src="/images/info-text2.png">

    <div class="login1-form-field">
        <form>
            <input class="login1-form" type="text" placeholder="이메일 주소 입력" >
        </form>
    </div>

    <div class="login1-play">
        <img src="/images/login1-play.png"
             srcset="/images/login1-play@2x.png, /images/login1-play@3x.png"
             alt="계속하기">
    </div>

    <div class="login1-menu">
        <img src="/images/login1-menu.png"
             srcset="/images/login1-menu@2x.png, /images/login1-menu@3x.png">
    </div>




</div>
</body>
</html>