<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title> Chilling Feeling - Login (2/2) </title>

    <link rel="shortcut icon" href="/images/favicon_16px.png">
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</head>

<body>
<div class="login2">
    <!-- Top frame -->
    <section class="login2-header">
        <div class="ic_back_24px">
            <a href="/login">
                <img src="/images/ic_back_24px.png">
            </a>
        </div>
        <div class="login2-content">
            <span class="login2-headline-text">로그인</span>
        </div>
        <div class="ic_close_24px">
            <a href="/">
                <img src="/images/ic_close_24px.png">
            </a>
        </div>
    </section>

    <!-- Content Frame -->
    <div class="login2-title-area">
        <div class="login2-title">
            <span>비밀번호를 입력해주세요.</span>
        </div>
        <div class="login2-subtitle">
            <span>언제나 환영합니다. :)</span>
        </div>
    </div>

    <form>
        <div class="login1-form-field">
            <div class="login2-wrap-form">
                <input class="login1-form pw-field" id="userPassword" placeholder="비밀번호 입력" type="password">

                <div class="ic_visibility_off">
                    <img class="pw-eye" src="/images/ic_visibility_off.png">
                </div>
            </div>
        </div>

        <div class="login2-wrap-btn-login">
            <button class="login2-btn-login" id="loginBtn">
                <div class="login2-btn-text">로그인</div>
            </button>
        </div>

    </form>

    <div class="login2-content-area">
        <div class="login2-content-label">
            <a href="/find/password">비밀번호를 잊으셨나요?</a>
        </div>
    </div>
</div>

<script th:inline="javascript">

    let request = /*[[${request}]]*/ {};

    // Password eye on/off
    const pwShowHide = document.querySelectorAll(".pw-eye");

    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".pw-field");

            pwFields.forEach(password => {
                if (password.type === "password") {
                    password.type = "text";
                    eyeIcon.src = "/images/ic_visibility_on.png";
                    return;
                }

                password.type = "password";
                eyeIcon.src = "/images/ic_visibility_off.png";
            });
        });
    });

    document.getElementById("loginBtn").addEventListener("click", function (e) {
        e.preventDefault();
        submitUserInfo();
    });

    async function submitUserInfo() {
        const username = request.username;
        const password = document.getElementById("userPassword").value;

        try {
            const response = await checkPassword(username, password);
            if (response === "valid") {
                sendLoginForm("/login/success", password)
            } else {
                alert("비밀번호가 유효하지 않습니다.");
            }
        } catch (error) {
            console.log("Error checking email exists:", error);
            alert("Internal Error : 비밀번호 체크에 실패했습니다.");
        }
    }

    async function checkPassword(username, password) {
        try {
            const response = await fetch("/api/v1/password/check", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    username,
                    password
                })
            });

            if (response.ok) {
                return response.text();
            }

            return false;
        } catch (error) {
            throw error;
        }
    }

    /*<![CDATA[*/
    function sendLoginForm(path, password) {
        const form = document.createElement("form");
        form.method = "POST";
        form.action = path;

        request.password = password;

        const usernameInput = document.createElement("input");
        usernameInput.type = "hidden";
        usernameInput.name = "username";
        usernameInput.value = request.username;
        form.appendChild(usernameInput);

        const pwInput = document.createElement("input");
        pwInput.type = "hidden";
        pwInput.name = "password";
        pwInput.value = request.password;
        form.appendChild(pwInput);

        document.body.appendChild(form);
        form.submit();
    }
    /*]]>*/

</script>
</body>
</html>