<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title> Chilling Feeling - Main </title>

    <!-- CSS -->
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="main-container">
    <div class="home">
        <!-- Header & Content -->
        <section class="wrap-top-bar-top-banner">
            <section class="top-bar">
                <div class="logo">
                    <div class="wrap-logo-text">
                        <div class="CHILLING-FEELING">CHILLING FEELING</div>
                    </div>
                </div>

                <div class="btn-menu">
                    <img src="/images/ic_search_24px.png" class="ic_search_24px">
                    <img src="/images/ic_shopping_bag_24px.png" class="ic_shopping_bag_24px">
                </div>
            </section>

            <section class="home-container-today">
                <div class="wrapper-illustration-title">
                    <img src="/images/illustration_container.png" class="illustration-container">
                    <div class="today-recommend-title">오늘 당신의 기분과<br>딱 맞는 술을 추천해드릴게요!</div>
                </div>

                <div class="btn-rounded-recommend">
                    <div class="btn-rounded-recommend-label">추천 받기</div>
                </div>
            </section>
        </section>

        <section class="home-contents">
            <div class="home-taste-prod">
                <div class="home-taste-title-box">
                    <!-- 사용자의 닉네임이 들어가야한다. (닉네임 미정이면 기본값으로 이메일주소) -->
                    <div class="home-taste-title">지은님을 위한 취향저격</div>
                    <div class="home-taste-subtitle">요즘 이런 스타일 좋아하시더라구요😊</div>
                </div>

                <div class="home-taste-prod-swiper-wrapper">
                    <!-- Items -->
                    <div class="wrap-product-card01">
                        <!-- 2개까지 노출하고 옆에 살짝 보이도록 (swipe 가능) -->
                        <div class="product-card01">
                            <div class="product-list01-photo-container">
                                <div class="photo-container-wrap-img">
                                    <img src="/images/item-rep01.png" class="recommend-image01">
                                </div>
                                <img src="/images/ic_heart_24px.png" class="ic_heart_24px">
                            </div>
                            <div class="product-list01-product-info">
                                <div class="product-list01-product-name">
                                    <div class="product-list01-product-name-type">위스키</div>
                                    <div class="product-list01-product-name-name">짐빔 화이트</div>
                                </div>
                                <div class="product-list01-price">
                                    <div class="product-list01-price-original-price">40,680</div>
                                    <div class="product-list01-price-sale">
                                        <div class="discount-rate">21%</div>
                                        <div class="discounted-price">32,000원</div>
                                    </div>
                                </div>
                                <div class="product-list01-caption">
                                    <div class="star-score-review">
                                        <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                        <div class="score">
                                            <div class="star-rating">4.9</div>
                                            <div class="reviews">(237)</div>
                                        </div>
                                    </div>
                                    <div class="wrap-chip">
                                        <div class="product-chip">
                                            <div class="chip-label">가성비</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="home-food-prod">
                <div class="home-food-title-box">
                    <div class="home-food-title">오늘의 안주 단짝을 찾아드릴게요</div>
                    <div class="home-food-subtitle-group">
                        <div class="wrap-drop-down-food">
                            <div class="drop-down-food">
                                <div class="food-type">떡볶이</div>
                                <!-- 드롭다운 화살표 들어가야함 -->
                            </div>
                        </div>
                        <div class="home-food-subtitle">와 단짝은</div>
                    </div>
                </div>

                <div class="home-food-prod-swiper-wrapper">
                    <div class="product-card02">
                        <div class="product-list02-photo-container">
                            <img src="/images/item-rep02.png" class="recommend-image02">
                        </div>

                        <div class="product-list02-product-info">
                            <div class="product-list02-name-star">
                                <div class="product-list02-name">비에띠 모스카토 다스티</div>
                                <div class="star-group">
                                    <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                    <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                    <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                    <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                    <img src="/images/ic_star_off_10px.png" class="ic_star_off_10px">
                                </div>
                            </div>

                            <div class="product-list02-caption-price">
                                <div class="product-list02-caption">
                                    매운 맛을 달래줄 쿨피스 같은 와인에는 모스카토 다스티!
                                    <br>향긋한 복숭아 향이 나며 기포가 부드럽고
                                    <br>도수도 낮아 부담없이 먹고 마실 수 있어요.
                                </div>
                                <div class="product-list02-price">26,900원</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="home-best-seller">
                <div class="home-best-seller-title-box">
                    <div class="wrap-drop-down-date">
                        <div class="drop-down-date">
                            <div class="date">오늘</div>
                            <!-- 드롭다운 화살표 들어가야함 -->
                        </div>
                    </div>
                    <div class="home-best-seller-title">제일 잘 나갔어요</div>
                </div>
                <div class="home-best-seller-wrap-product-card01">
                    <div class="wrap-horizontal">
                        <!-- 3개까지 노출 (위에 2개, 아래 1개와 인기검색어) -->
                        <div class="product-card01">
                            <div class="product-list01-photo-container">
                                <div class="photo-container-wrap-img">
                                    <img src="/images/item-rep01.png" class="recommend-image01">
                                </div>
                                <img src="/images/ic_heart_24px.png" class="ic_heart_24px">
                            </div>
                            <div class="product-list01-product-info">
                                <div class="product-list01-product-name">
                                    <div class="product-list01-product-name-type">위스키</div>
                                    <div class="product-list01-product-name-name">짐빔 화이트</div>
                                </div>
                                <div class="product-list01-price">
                                    <div class="product-list01-price-original-price">40,680</div>
                                    <div class="product-list01-price-sale">
                                        <div class="discount-rate">21%</div>
                                        <div class="discounted-price">32,000원</div>
                                    </div>
                                </div>
                                <div class="product-list01-caption">
                                    <div class="star-score-review">
                                        <img src="/images/ic_star_10px.png" class="ic_star_10px">
                                        <div class="score">
                                            <div class="star-rating">4.9</div>
                                            <div class="reviews">(237)</div>
                                        </div>
                                    </div>
                                    <div class="wrap-chip">
                                        <div class="product-chip">
                                            <div class="chip_label">가성비</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="banner-keyword">
                            <div class="banner-keyword-title">인기 검색어</div>
                            <div class="keyword-list">
                                <!-- 최상위 5개 노출 -->
                                <li>
                                    <div class="rank-no">1</div>
                                    <div class="rank-name">연말 와인</div>
                                    <div class="rank-up">new</div>
                                </li>
                                <li>
                                    <div class="rank-no">2</div>
                                    <div class="rank-name">연말 와인</div>
                                    <div class="rank-up">new</div>
                                </li>
                                <li>
                                    <div class="rank-no">3</div>
                                    <div class="rank-name">연말 와인</div>
                                    <div class="rank-up">new</div>
                                </li>
                                <li>
                                    <div class="rank-no">4</div>
                                    <div class="rank-name">연말 와인</div>
                                    <div class="rank-up">new</div>
                                </li>
                                <li>
                                    <div class="rank-no">5</div>
                                    <div class="rank-name">연말 와인</div>
                                    <div class="rank-up">new</div>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <section class="bottom-container">
            <div class="bottom-home">
                <div class="bottom-home-action">
                    <img src="/images/ic_home_ac.png" class="ic_bottom_icon">
                    <div class="bottom-label">홈</div>
                </div>
                <div class="bottom-home-action">
                    <img src="/images/ic_category_de_24px.png" class="ic_bottom_icon">
                    <div class="bottom-label">카테고리</div>
                </div>
                <div class="bottom-home-action">
                    <img src="/images/ic_community_de_24px.png" class="ic_bottom_icon">
                    <div class="bottom-label">피드</div>
                </div>
                <div class="bottom-home-action">
                    <img src="/images/ic_mypage_de_24px.png" class="ic_bottom_icon">
                    <div class="bottom-label">마이</div>
                </div>
            </div>
        </section>
    </div>
</div>
<script th:inline="javascript">

</script>
</body>
</html>