<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

    <title> Chilling Feeling - My Page </title>

    <link rel="shortcut icon" href="/images/favicon_16px.png">
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div class="my-container">
    <!-- Header -->
    <div class="my-wrap-top-bar-keyword-setting">
        <div class="my-top-bar">
            <button class="wrap-back-home" style="background-color: #00232d;" onclick="history.back()">
                <img src="/images/ic_back_24px.png" class="ic_back_24px">
            </button>

            <div class="join1-header-content-text">마이페이지</div>

            <button class="ic_shopping_bag_main_24px" onclick="location.href='/cart'">
                <img src="/images/ic_shopping_bag_24px.png">
            </button>
        </div>

        <div class="my-keyword-setting">
            <div class="my-wrap-nickname">
                <div class="my-nickname-intro">
                    <b class="name-coloring" id="username">
                        Guest
                    </b> 님<br>반가워요 :)
                </div>
                <div class="my-account-setting">내 정보 관리</div>
            </div>

            <div class="my-taste-keyword">
                <div class="my-taste-keyword-title">내 취향 키워드</div>
                <div class="my-scroll-area">
                    <div class="my-wrap-taste-keywords" id="keywords">
                        <!-- 내 취향 키워드. 설정하지 않았거나 게스트 상태면 별도의 문구 표시 -->

<!--                        <div class="my-taste-keywords">-->
<!--                            <div class="my-taste-keyword-illust">-->
<!--                            </div>-->
<!--                            <div class="my-taste-keyword-label">키워드1</div>-->
<!--                        </div>-->
<!--                        <div class="my-taste-keywords">-->
<!--                            <div class="my-taste-keyword-illust">-->
<!--                            </div>-->
<!--                            <div class="my-taste-keyword-label">키워드2</div>-->
<!--                        </div>-->
<!--                        <div class="my-taste-keywords">-->
<!--                            <div class="my-taste-keyword-illust">-->
<!--                            </div>-->
<!--                            <div class="my-taste-keyword-label">키워드3</div>-->
<!--                        </div>-->
<!--                        <div class="my-taste-keywords">-->
<!--                            <div class="my-taste-keyword-illust">-->
<!--                            </div>-->
<!--                            <div class="my-taste-keyword-label">키워드4</div>-->
<!--                        </div>-->
                    </div>
                </div>

            </div>

            <div class="my-wrap-setting">
                <div class="my-btn-setting">
                    <div class="ic_my_btn_24px">
                        <img src="/images/ic_my_orders.png">
                    </div>
                    <div class="my-btn-setting-label">주문내역</div>
                </div>

                <div class="my-btn-setting">
                    <div class="ic_my_btn_24px">
                        <img src="/images/ic_my_heart.png">
                    </div>
                    <button class="my-btn-setting-label" onclick="location.href='/wish'">위시리스트</button>
                </div>

                <div class="my-btn-setting">
                    <div class="ic_my_btn_24px">
                        <img src="/images/ic_my_feed.png">
                    </div>
                    <button class="my-btn-setting-label" onclick="location.href='/recommendation/base'">취향설정</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Middle -->
    <div class="my-wrap-menu">
        <div class="my-wrap-setting-menus-2line">
            <div class="my-wrap-setting-menu">
                <div class="my-setting-menu-label">나의 혜택 관리</div>
                <img src="/images/ic_chevron_right_14px.png" class="ic_chevron_right_14px">
            </div>
            <div class="my-wrap-setting-menu">
                <div class="my-setting-menu-label">간편 결제 관리</div>
                <img src="/images/ic_chevron_right_14px.png" class="ic_chevron_right_14px">
            </div>
        </div>

        <div class="my-menu-line"></div>

        <div class="my-wrap-setting-menus-4line">
            <div class="my-wrap-setting-menu">
                <div class="my-setting-menu-label">공지사항</div>
                <img src="/images/ic_chevron_right_14px.png" class="ic_chevron_right_14px">
            </div>
            <div class="my-wrap-setting-menu">
                <div class="my-setting-menu-label">1:1 문의하기</div>
                <img src="/images/ic_chevron_right_14px.png" class="ic_chevron_right_14px">
            </div>
            <div class="my-wrap-setting-menu">
                <div class="my-setting-menu-label">자주 묻는 질문</div>
                <img src="/images/ic_chevron_right_14px.png" class="ic_chevron_right_14px">
            </div>
            <div class="my-wrap-setting-menu">
                <div class="my-setting-menu-label">서비스 이용 약관</div>
                <img src="/images/ic_chevron_right_14px.png" class="ic_chevron_right_14px">
            </div>
        </div>
    </div>

    <!-- Footer -->
    <section class="bottom" id="footer">
    </section>

</div>
</body>
<script th:inline="javascript">

    const username = /*[[${username}]]*/ '';

    window.onload = function () {
        createFooter();
        displayUsername(username);
        displayUserCategories();
    }

</script>
</html>