<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <title> Chilling Feeling - Wish list </title>
    <link rel="shortcut icon" href="/images/favicon_16px.png">
    <link href="/css/cf_style.css" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
<div class="cart-container">
    <!-- Header -->
    <div class="cart-header">
        <a href="javascript:history.back()">
            <img class="ic_back_24px" src="/images/ic_back_black_24px.png">
        </a>
        <div class="cart-header-text">위시리스트</div>
        <img class="ic_close_24px" src="/images/ic_close_24px.png">
    </div>
    <!-- Content -->
    <div class="cart-contents">
        <div class="wrap-cart-total-select-delete">
            <div class="wrap-cart-total-select">
                <button class="check-box" id="cbAll">
                    <img src="/images/check_box.png">
                </button>
                <div class="wrap-cart-total-select-label">
                    <div class="cart-total-select-label">전체선택</div>
                    <div class="cart-total-select-counting-zero">
                        (<span id="choiceCount">0</span>/<span class="cart-total-count">0</span>)
                    </div>
                </div>
            </div>
            <div class="cart-delete">선택삭제</div>
        </div>
        <!-- 위시리스트가 비었을 때 -->
        <div class="wrap-illust-text-cart-no-data" id="emptyCartFrame" style="display: none">
            <img class="illust-no-data" src="/images/ic_x_face.png">
            <div class="text-cart-no-data">위시리스트가 비었습니다.</div>
        </div>
        <!-- 위시리스트에 상품이 있을 때 -->
        <div class="wrap-cart-product-cards-counting" id="containCartFrame">
            <div class="wrap-cart-product-total-counting">
                <div class="cart-product-total-counting-label">좋아요 누른 상품 수</div>
                <div class="cart-product-total-counting"><span class="cart-total-count">1</span>개</div>
            </div>
            <div class="wrap-cart-product-cards" id="cardsFrame">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <section class="bottom" id="footer">
    </section>
</div>
<script th:inline="javascript">
    let wishListResponseList;

    let cbAllElement = document.getElementById('cbAll');
    let cardsFrameElement = document.getElementById('cardsFrame');
    let totalCountElementList = document.getElementsByClassName('cart-total-count');
    let choiceCountElement = document.getElementById('choiceCount');
    let cbBtnElements;
    let cardCloseBtnElements;
    let plusBtnElements;
    let minusBtnElements;

    window.onload = async function () {
        wishListResponseList = await getWishList();

        if (wishListResponseList.length === 0) {
            document.getElementById('containCartFrame').style.display = 'none';
            document.getElementById('emptyCartFrame').style.display = 'flex';
            document.getElementById('orderBtn').style.display = 'none';
            document.getElementById('emptyBtn').style.display = 'flex';
            return;
        }

        for (let i = 0; i < wishListResponseList.length; i++) {
            cardsFrameElement.appendChild(createWishListProductCard(wishListResponseList[i].goodsView, i));
        }

        for (let i = 0; i < totalCountElementList.length; i++) {
            totalCountElementList[i].innerText = cardsFrameElement.childElementCount.toString();
        }

        updateCbBtnElements();
        updateCardCloseBtnElements();
        applyPlusBtnElements();
        applyMinusBtnElements();

        createFooter();
        activeGoodsDetailsURL();
    }

    function updateCbBtnElements() {
        cbBtnElements = document.querySelectorAll('[id*="cb"]');

        cbBtnElements.forEach(function (cbBtn) {
            cbBtn.addEventListener('click', function () {
                if (cbBtn === cbAllElement) {
                    return;
                }

                if (cbBtn.className === 'check-box') {
                    cbBtn.className = 'check-box-pressed';
                    cbBtn.firstElementChild.src = '/images/check_box_pressed.png';
                } else {
                    cbBtn.className = 'check-box';
                    cbBtn.firstElementChild.src = '/images/check_box.png';
                }

                updateChoiceCountElement();
                updateCbAll();
            });
        });
    }

    function updateCardCloseBtnElements() {
        cardCloseBtnElements = document.querySelectorAll('[id*="close"]');

        cardCloseBtnElements.forEach(function (card) {
            card.addEventListener("click", function () {
                let parentElement = card.parentElement.parentElement;

                if (parentElement != null
                    && parentElement.className === 'wrap-cart-product-card') {

                    let wishListProductName = parentElement.getElementsByClassName('cart-product-name')[0];
                    let goodsName = wishListProductName.textContent;

                    removeWishList(goodsName);

                    cardsFrameElement.removeChild(parentElement);
                    if (cardsFrameElement.childElementCount === 0) {
                        document.getElementById('containCartFrame').style.display = 'none';
                        document.getElementById('emptyCartFrame').style.display = 'flex';
                        document.getElementById('orderBtn').style.display = 'none';
                        document.getElementById('emptyBtn').style.display = 'flex';
                    }

                    updateCbBtnElements();
                    updateCardCloseBtnElements();
                    updateTotalCountElement();
                    updateChoiceCountElement();
                    updateCbAll();
                }
            });
        });
    }

    function getCheckedBoxCount() {
        let count = 0;

        for (let i = 0; i < cbBtnElements.length; i++) {
            if (cbBtnElements[i] === cbAllElement || cbBtnElements[i].className === 'check-box') {
                continue;
            }
            count++;
        }

        return count;
    }

    function updateTotalCountElement() {
        for (let i = 0; i < totalCountElementList.length; i++) {
            totalCountElementList[i].innerText = cardsFrameElement.childElementCount.toString();
        }
    }

    function updateChoiceCountElement() {
        choiceCountElement.innerText = getCheckedBoxCount().toString();
    }

    cbAllElement.addEventListener('click', function () {
        if (cbAllElement.className === 'check-box') {
            cbAllElement.classList.remove('check-box');
            cbAllElement.classList.add('check-box-pressed');
            cbAllElement.firstElementChild.src = '/images/check_box_pressed.png';

            cbBtnElements.forEach(function (cbBtn) {
                cbBtn.classList.remove('check-box');
                cbBtn.classList.add('check-box-pressed');
                cbBtn.firstElementChild.src = '/images/check_box_pressed.png';
                updateChoiceCountElement();
            });
        } else {
            cbAllElement.classList.remove('check-box-pressed');
            cbAllElement.classList.add('check-box');
            cbAllElement.firstElementChild.src = '/images/check_box.png';

            cbBtnElements.forEach(function (cbBtn) {
                cbBtn.classList.remove('check-box-pressed');
                cbBtn.classList.add('check-box');
                cbBtn.firstElementChild.src = '/images/check_box.png';
                updateChoiceCountElement();
            });
        }
    });

    function updateCbAll() {
        let allChecked = true;

        cbBtnElements.forEach(function (cbBtn) {
            if (cbBtn === cbAllElement) {
                return;
            }

            if (cbBtn.className === 'check-box') {
                allChecked = false;
            }
        });

        if (allChecked) {
            cbAllElement.classList.remove('check-box');
            cbAllElement.classList.add('check-box-pressed');
            cbAllElement.firstElementChild.src = '/images/check_box_pressed.png';
        } else {
            cbAllElement.classList.remove('check-box-pressed');
            cbAllElement.classList.add('check-box');
            cbAllElement.firstElementChild.src = '/images/check_box.png';
        }
    }

    function createWishListProductCard(goodsView, index) {
        const parentElement = document.createElement('div');
        parentElement.id = 'card' + index;
        parentElement.classList.add('wrap-cart-product-card');

        const checkDeleteElement = document.createElement('div');
        checkDeleteElement.classList.add('wrap-check-delete');
        const checkBoxElement = document.createElement('button');
        checkBoxElement.classList.add('check-box');
        checkBoxElement.id = 'cb' + index;
        const checkBoxImage = document.createElement('img');
        checkBoxImage.src = '/images/check_box.png';
        checkBoxElement.appendChild(checkBoxImage);
        checkDeleteElement.appendChild(checkBoxElement);

        const closeImageElement = document.createElement('img');
        closeImageElement.classList.add('ic_close_14px');
        closeImageElement.src = '/images/ic_close_14px.png';
        closeImageElement.id = 'close' + index;
        checkDeleteElement.appendChild(closeImageElement);
        parentElement.appendChild(checkDeleteElement);

        const productCardElement = document.createElement('div');
        productCardElement.classList.add('cart-product-card');
        const nameCountingElement = document.createElement('div');
        nameCountingElement.classList.add('wrap-cart-name-counting');
        const productNameElement = document.createElement('div');
        productNameElement.classList.add('wrap-cart-product-name');
        const nameTypeSubtypeElement = document.createElement('div');
        nameTypeSubtypeElement.classList.add('wrap-cart-product-name-type-subtype');

        const productTypeElement = document.createElement('div');
        productTypeElement.classList.add('cart-product-name-type');
        productTypeElement.id = 'goodsType' + index;

        nameTypeSubtypeElement.appendChild(productTypeElement);
        const chevronRightElement = document.createElement('img');
        chevronRightElement.classList.add('ic_chevron_right_10px');
        chevronRightElement.src = '/images/ic_chevron_right_10px.png';
        nameTypeSubtypeElement.appendChild(chevronRightElement);

        const productSubtypeElement = document.createElement('div');
        productSubtypeElement.classList.add('cart-product-name-subtype');
        productSubtypeElement.id = 'goodsSubType' + index;

        nameTypeSubtypeElement.appendChild(productSubtypeElement);
        productNameElement.appendChild(nameTypeSubtypeElement);

        const typeArray = goodsView.type.split(" ");    // GoodsView.type
        if (typeArray.length < 2) {
            productTypeElement.textContent = goodsView.type;
        } else {
            productTypeElement.textContent = typeArray[0];
            productSubtypeElement.textContent = typeArray[1];    // GoodsView.subType
        }

        const productNameElement2 = document.createElement('div');
        productNameElement2.classList.add('cart-product-name');
        productNameElement2.id = 'goodsName' + index;
        productNameElement2.textContent = goodsView.name;    // GoodsView.name
        productNameElement.appendChild(productNameElement2);
        nameCountingElement.appendChild(productNameElement);
        productCardElement.appendChild(nameCountingElement);
        const photoContainerElement = document.createElement('button');
        photoContainerElement.classList.add('photo-container-85px');
        photoContainerElement.id = goodsView.name;
        const imageElement = document.createElement('img');
        imageElement.classList.add('image-81');
        imageElement.id = 'goodsImageUrl' + index;
        imageElement.src = goodsView.imageUrl;    // GoodsView.imageUrl
        photoContainerElement.appendChild(imageElement);
        productCardElement.appendChild(photoContainerElement);
        parentElement.appendChild(productCardElement);

        return parentElement;
    }
</script>
</body>
</html>