<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--<title> Responsive Login and Signup Form </title>-->

  <!-- CSS -->
  <link rel="stylesheet" href="css/join_form.css">

  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <div class="form login">
    <div class="form-content">

      <header>Login</header>
      <form th:action="@{/login}" method="post" >
        <div class="field input-field">
          <input type="text" placeholder="Id" class="input" >
        </div>
        <div class="field input-field">
          <input type="password" placeholder="Password" class="password" >
          <i class='bx bx-hide eye-icon'></i>
        </div>

        <div class="form-link">
          <a href="#" class="forgot-pass">Forgot password?</a>
        </div>

        <div class="field button-field">
          <button>Login</button>
        </div>
      </form>

      <div class="form-link" >
        <form method="post">
          <span>Don't have an account? <a href="/join" class="link signup-link">Sign Up</a></span>
        </form>
      </div>
    </div>

    <div class="line"></div>

    <div class="media-options">
      <a href="/oauth2/authorization/google" class="field google">
        <img src="#" alt="" class="google-img">
        <span>Login with Google</span>
      </a>
    </div>

  </div>
  <!-- JavaScript -->
  <script src="js/script.js"></script>
</body>
</html>
