<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Sign Up Form </title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
  <div class="form show-signup">
    <div class="form-content">

      <header>Sign Up</header>

      <form th:action="@{/sign_up/create}" th:object="${request}" method="post" >

        <div class="field">
          <input type="text" placeholder="Id" class="input" th:field="${request.username}" >
        </div>

        <div class="field">
          <input type="email" placeholder="Email" class="input" th:field="${request.email}" >
        </div>

        <div class="field">
          <input type="password" placeholder="Create password" class="password" th:field="${request.password}" >
        </div>

        <div class="field">
          <input type="password" placeholder="Confirm password" class="password" >
          <i class='bx bx-hide eye-icon'></i>
        </div>

        <div class="field button-field">
          <button>Sign Up</button>
        </div>

      </form>

      <div class="form-link" >
        <span>Already have an account? <a href="/sign_in" class="link login-link">Login</a></span>
      </div>
    </div>

  </div>

  <!-- JavaScript -->
  <script src="js/script.js"></script>
</body>
</html>
